<div class="movie-intro">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <img src="/images/cinema.jpg" alt="" srcset="">

    <a href="/movies"><button class="btn btn-light btn-lg position-absolute top-50 start-50 translate-middle" >Check the movies!</button></a>
</div>